section13-constructor-deconstructor/build-delegating-constructor-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/player.o
section13-constructor-deconstructor/build-delegating-constructor-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/main.o
section13-constructor-deconstructor/build-delegating-constructor-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/delegating-constructor.exe
section13-constructor-deconstructor/build-delegating-constructor-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile.Release
section13-constructor-deconstructor/build-delegating-constructor-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile.Debug
section13-constructor-deconstructor/build-delegating-constructor-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/main.o
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/account.o
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/accesmodifiers.o
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/accesingclassmembers.o
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile.Release
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile.Debug
build-section13-OOP-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile
